@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
    --primary-c: #036061;
    --secondary-c: #fff;
    --span-c: #848484;
    --green-texts: #058789;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
a,
p,
span {
    font-family: 'Inter';
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

input,
button {
    border-radius: .5rem;
}

p,
li,
a {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

body {
    padding-top: 84px;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
}

.container {
    width: 100%;
    min-height: max-content;
    padding: 2rem;
}

.menu {
    background-color: var(--primary-c);
    padding: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.menu h1 {
    font-size: 2rem;
    color: var(--secondary-c);
}

.menu h1 img {
    margin-left: 1rem;
}

.menu ul {
    display: flex;
}

.menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul li a {
    display: block;
    color: var(--secondary-c);
    padding: 1.2rem 2rem;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    border-radius: .5rem;
}

.menu ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--green-texts);
    position: absolute;
    bottom: 2px;
    left: 0;
    transition: .5s;
}

.menu ul li a:hover::after {
    background-color: var(--secondary-c);
    left: 25%;
    width: 50%;
}

.logo-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9rem 0;
    border-bottom: .1rem solid var(--green-texts);
}

.hero {
    background-image: url('../img/bg-hero.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.title-post-section {
    text-transform: uppercase;
    color: var(--green-texts);
    margin-bottom: 2rem;
}

.posts-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    height: max-content;
}

.post {
    padding: 2rem 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post h3 a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.post h3 {
    color: var(--green-texts);
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

.post p {
    text-align: justify;

    word-break: keep-all;
}

.post span {
    color: var(--span-c);
    display: block;
    font-size: 1.3rem;
    padding-top: 1rem;

}

.call-bg {
    background-color: var(--primary-c);
    margin-top: 5rem;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
}

.call-to-action h2 {
    font-size: 3rem;
    width: max-content;
    color: var(--secondary-c);
}

.send-email {
    display: flex;
}

.send-email button {
    border: none;
    padding: 1rem 3rem;
    background-color: var(--green-texts);
    color: var(--secondary-c);
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1rem;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.send-email input {
    padding: 2rem 20rem 2rem 1rem;
    border: none;
    outline: none;
    transition: box-shadow .2s ease-in-out;
}

.send-email input:focus {
    box-shadow: 0 0 5px 2px #fff;
}

.send-email button:hover {
    transform: translate3d(5px, -5px, 0);
    box-shadow: -5px 5px 2px rgb(255, 255, 255);
}

.rodape {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--primary-c);
    padding: 3rem 0;
    margin-top: 5rem;
    text-transform: uppercase;
}

.foot {
    padding: 0 2rem;
}

.rodape p {
    font-size: 1.2rem;
}

#openMenu {
    border: none;
    background-color: var(--primary-c);
    padding: .5rem 1rem;
    border-radius: .2rem;
    font-size: 3rem;
    color: var(--secondary-c);
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 200;
    display: none;
}

.article {
    position: relative;
    border-bottom: 1px solid var(--primary-c);
    padding-bottom: 5rem;
}

.article h2 {
    color: var(--green-texts);
    padding: 2rem 0;
}

.article span {
    display: block;
    color: var(--span-c);
    font-size: 1.5rem;
    padding: 4rem 0;
}

.article a {
    display: block;
    position: absolute;
    right: 0;
    bottom: 10px;
    padding: 2rem 0;
    text-decoration: none;
    padding: 1.5rem 3rem;
    background-color: var(--green-texts);
    color: var(--secondary-c);
    border-radius: .5rem;
    transition: bottom .2s ease-in-out, box-shadow .2s ease-in-out;
}

.article a:hover {
    bottom: 15px;
    box-shadow: 0 5px var(--primary-c), 0 0 10px var(--primary-c);
}

.article a:focus {
    outline: none;
    background: var(--primary-c);
}

.article .notice {
    background-color: var(--green-texts);
    color: var(--secondary-c);
    width: max-content;
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin: 2rem 0;
}

.title-contact {
    text-align: center;
    color: var(--green-texts);
    padding: 2rem 0;
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--primary-c);
}

.contact-text h3,
.contact-text p {
    margin: 2rem 0;
}

.contact-text h3 {
    font-size: 4rem;
    color: var(--green-texts);
}

.contact-text p,
.contact-text a {
    font-size: 2rem;
}

.contact-text a {
    text-decoration: none;
    color: var(--primary-c);
    font-weight: bold;
}

.grid-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.contact-icons {
    position: relative;
}

.mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icons {
    position: absolute;
}

.icons a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transition: all .5s ease-in-out;
    border-radius: 100%;
}

.icons a:hover {
    transform: scale(105%);
    box-shadow: 0 0 2px #606060ce;
}

.mockup img {
    width: 70%;
}

.padrao-text-posts {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    min-height: 100vh;
}

.post-text-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem 2rem 2rem;
}

.padrao-text-posts h2 {
    margin: 1.5rem 0;
    color: var(--green-texts);
    position: relative;
    width: 100%;
    padding-right: 20px;
}

.padrao-text-posts h2::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    left: 0;
    bottom: -10px;
    background-color: var(--green-texts);
}

.padrao-text-posts p {
    margin: .8rem 0;
    text-align: justify;
    word-break: unset;
    text-indent: 3rem;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.card-img {
    border-left: 1px solid var(--green-texts);
    padding: 0 0 0 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.padrao-text-posts img {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 2px var(--green-texts);
    width: 100%;
    transition: box-shadow .3s ease-in-out;
}

.padrao-text-posts img:hover {
    box-shadow: 0 0 8px var(--green-texts);
}

.padrao-text-posts a {
    color: var(--green-texts);
    font-weight: bold;
    text-decoration: none;
}

.padrao-text-posts a:hover {
    color: var(--primary-c);
}

.no-shadow img,
.no-shadow img:hover {
    box-shadow: none;
}



@media (max-width: 900px) {

    .menu h1 {
        margin-bottom: 2rem;
    }

    .menuMobile {
        display: none;
    }

    .menu-content ul {
        flex-direction: column;
        text-align: center;
    }

    .menu-content ul li {
        margin-top: 1rem;
    }

    .menu-content {
        flex-direction: column;
    }

    #openMenu {
        display: block;
    }


    .posts-content {
        grid-template-columns: 1fr;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
    }

    .rodape p {
        margin: 1rem auto;
    }

    .call-to-action {
        flex-direction: column;
        padding: 0 2rem;
    }

    .hero h2 img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .call-bg {

        display: flex;
        justify-content: center;
    }

    .call-to-action h2 {
        margin: 2rem 0;
        width: 100%;
        text-align: left;
    }

    .send-email {
        padding: 2rem 0;
        width: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .send-email input {
        width: 100%;
        padding: 2rem 1rem;
    }


    .grid-contact {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .icons img {
        width: 70%;
    }

    .card-img {
        border-left: none;
        padding: 3rem 0 0 0;
        border-top: 1px solid var(--green-texts);
    }

    .padrao-text-posts {
        grid-template-columns: 1fr;
    }


}

@media (max-width: 460px) {
    .send-email button {
        padding: 0;

    }
}

::-webkit-scrollbar {
    background-color: var(--secondary-c);
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-c);
    border-radius: 20rem;
}

::selection {
    background-color: var(--primary-c);
    color: var(--secondary-c);
}